@model CarBooking

@{
    ViewData["Title"] = "Cancel Car Booking";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to cancel this Car Booking?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.PlateNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.PlateNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookedStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookedStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookedEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookedEndDate)
        </dd>
    </dl>
</div>
<form asp-action="DeleteConfirmed" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.Id)
    <input type="submit" value="Cancel Booking" class="bttn button-one mt-2 w-250" />
    <a asp-action="Search" asp-route-CarId="@Model.CarId" class="bttn button-two mt-2 w-250">Go Back</a>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


