@model CarBooking

@{
    ViewData["Title"] = "Edit Booking";
}
<DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        </head>
        <body>
<h1>Edit</h1>

<h4>Car Booking</h4>
<hr />
<div class="row">
    <p>
        Are you sure you want to Edit the booking for the car with License plate @ViewData["PlateNumber"] in @ViewData["City"]. This car is a @ViewData["Brand"] @ViewData["Model"], and is being rented out by
        @ViewData["RentalCompany"] at a price of $@ViewData["Price"] per day.
    </p>
    <p>If you are sure you want to edit this booking for this car please enter the following information and press Confirm</p>

</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.Id">
            <input type="hidden" asp-for="CarId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookedStartDate" class="control-label"></label>
                <input type="date" asp-for="BookedStartDate" class="form-control" />
                <span asp-validation-for="BookedStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookedEndDate" class="control-label"></label>
                <input type="date" asp-for="BookedEndDate" class="form-control" />
                <span asp-validation-for="BookedEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="bttn button-one mt-2 w-250" />
                <a class="bttn button-two mt-2 w-250 inline-element" href="javascript:history.go(-1)">Back to List</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}