@model IEnumerable<CarBooking>

@{
    ViewData["Title"] = "Car Bookings";
}
@using COMP2139_Assignment1.Areas.NorthPole.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<NorthPoleUser> UserManager
<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    </head>
    <body>
		@if (Model.Any())
		{
			<div class="table-wrap">
				<table class="search-table w-100">
					<thead>
						<tr class="text-center">
							<th>Start Date</th>
							<th>Return Date</th>
							<th>Brand</th>
							<th>Model</th>
							<th>License Plate</th>
							<th>Rented From</th>
							@if (User.IsInRole("Admin"))
							{
								<th>Rented By</th>
								<th>Price Paid</th>
								<th>Renter Email</th>
								<th>View Renter</th>
							}
						</tr>
					</thead>

					@foreach (var carBooking in Model)
					{
						<tbody>
							<tr class="text-center">
								<td>@carBooking.BookedStartDate</td>
								<td>@carBooking.BookedEndDate</td>
								<td>@ViewData["Brand"]</td>
								<td>@ViewData["Model"]</td>
								<td>@ViewData["PlateNumber"]</td>
								<td>@ViewData["RentalCompany"]</td>
								@if (User.IsInRole("Admin"))
								{
									<td>@carBooking.User.FirstName @carBooking.User.LastName</td>
									<td>
										@{
											double calculatedPrice = (Convert.ToDouble(ViewData["Price"]) * (carBooking.BookedEndDate - carBooking.BookedStartDate).TotalDays);
											double @minimumPrice = Convert.ToDouble(ViewData["Price"]);
											double finalPrice = Math.Max(calculatedPrice, minimumPrice);
											finalPrice = Math.Round(finalPrice, 2);
										}
										$@finalPrice
									</td>
									<td>@carBooking.User.Email</td>
								}


							</tr>
						</tbody>
					}
				</table>
			</div>
		}
		else
		{
			<p>There are currently no bookings for this Category, click on the button below to be the first!</p>
		}
		<p>
			<a class="bttn button-one" asp-area="NorthPole" asp-action="Create" asp-route-CarId="@ViewData["CarId"]">Create a Car Booking!</a>
        </p>
    </body>
</html>
