@model IEnumerable<COMP2139_Assignment1.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-HotelId="@ViewBag.HotelId" class="btn btn-primary">Create New Room</a>
</p>
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                <p>Details</p>
            </th>
            <th>
                <p>Book</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> |
            </td>
            <td>
                <a asp-controller="RoomBookings" asp-action="Create" asp-route-roomId="@item.RoomId">Book</a>
            </td>
        </tr>
}
    </tbody>
</table>
