@model IEnumerable<COMP2139_Assignment1.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}
<DOCTYPE html>
    <html>
        <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

        </head>
        <body>
            <div class="rooms-container">
    <h2 class="rooms-heading">Rooms</h2>
        <div class="input-price-div w-250 inline-element">

        <form class="rooms-form" asp-action="Search" method="get">
            <input class="input-price input-one mt-3 " min="0" type="number" name="MinPrice" placeholder="$Min Price" />
            <input class="input-price input-one mt-3 " min="0" type="number" name="MaxPrice" placeholder="$Max Price" />
            <input class="input-price input-one mt-3 " min="0" type="number" name="NumGuest" placeholder="Number of Guest" />
            <button class="bttn button-one mt-3" type="Submit">Filter</button>
        </form>
         </div class="inline-element">

        </div>
    <div class="table-wrap">
        @if(Model.Any())
        {
            <table class="table search-table">

                <thead>
                    <tr class="text-center">
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            Max Guests
                        </th>
                        <th>
                            Details
                        </th>
                        <th>
                            Make Book
                        </th>
                        <th>
                            View Bookings
                        </th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxGuest)
                        </td>
                        <td>
                                <a asp-action="Details" class="bttn button-one w-125" asp-route-id="@item.RoomId">Details</a>
                        </td>
                        <td>
                                <a asp-controller="RoomBookings" class="bttn button-two w-125 " asp-action="Create" asp-route-roomId="@item.RoomId">Book Room</a>
                        </td>
                        <td>
                                <a asp-controller="RoomBookings" asp-action="Search" asp-route-roomId="@item.RoomId" class="bttn button-three w-125 ">View Bookings</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        }
        else{
            <p>No Data for this Hotel.</p>
        }
        </div>
<p>
    <a asp-action="Create" asp-route-HotelId="@ViewBag.HotelId" class="bttn button-one">Create New Room</a>
</p>
</body>
</html>
