@model List<Hotel>
@{
    ViewData["Tittle"] = "Hotel";
}


<h2>Hotels</h2>
@if (Model.Any())
{
    <table class="table">
    <thead>
        <tr>
            <th>
               Hotel Name
            </th>
            <th>
               Hotel Location
            </th>
            <th>
               Rating
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HotelId">Edit</a> |
                <a asp-action="Index" asp-controller="Room" asp-route-hotelId="@item.HotelId" class="btn btn-warning">View Hotel</a> |
                <a asp-action="Delete" asp-route-id="@item.HotelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

}
else
{
    <p>No Hotels data</p>
}

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Hotels" asp-action="Create">Create Hotel</a>
</p>
