@model List<Hotel>


@{
    ViewData["Title"] = "Hotel";
    bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
    string searchName = ViewData["searchName"] as string;
    string seacrhLocation = ViewData["seacrhLocation"] as string;
}

<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    </head>
    <body>
        <h2>Hotel</h2>
        <div class="table-wrap">
        @if (Model.Any())
        {
                <table class="table search-table">
                    <thead>
                        <tr class="text-center">
                            <td>Hotel Name</td>
                            <td>City</td>
                            <td>Hotel Location</td>
                            <td>Description</td>
                            <td>Details</td>
                            <td>Rooms</td>
                            @if (User.IsInRole("Admin"))
                            {
                                <td>Delete</td>
                            }
                        </tr>
                </thead>

                <tbody>

                    @foreach (var hotel in Model)
                    {
                        <tr class="text-center">
                            <td>@hotel.HotelName</td>
                            <td>@hotel.City</td>
                            <td>@hotel.HotelLocation</td>
                            <td>@hotel.Description</td>
                                <td><a asp-action="Details" class="bttn button-one w-125 " asp-route-hotelId="@hotel.HotelId">Details</a></td>
                                <td><a asp-action="Index" class="bttn button-two w-125 " asp-controller="Rooms" asp-route-hotelId="@hotel.HotelId">Rooms</a></td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td><a asp-action="Delete" class="bttn button-danger" asp-route-hotelId="@hotel.HotelId">Delete</a></td>
                                }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else{
            if (searchPerformed)
            {
                <p>No hotels available with the given requirments.</p>
            }
            else
            {
            <p>No hotels data</p>
            }
        }
        </div>
        <p>
            <a class="bttn button-one mt-3 w-250" asp-area="" asp-action="Create">Add Hotel</a>
        </p>
    </body>
</html>
