@model IEnumerable<RoomBooking>

@{
	ViewData["Title"] = "Room Bookings";
}
<DOCTYPE html>
	<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

	</head>
	<body>
		<table class="table">
			<thead>
				<tr>
					<th>Hotel</th>
					<th>Room Description</th>
					<th>Start Date</th>
					<th>Return Date</th>
					<th>Price</th>
					<th>Total Price Paid</th>
				</tr>
			</thead>

			@foreach (var roomBooking in Model)
			{
				<tbody>
					<tr>
						<td>@ViewData["HotelName"]</td>
						<td>@ViewData["Description"]</td>
						<td>@roomBooking.BookedStartDate</td>
						<td>@roomBooking.BookedEndDate</td>
						<td>@ViewData["Price"]</td>
						<!--Calculating the total price -->
						<td>
							@{
								double calculatedPrice = (Convert.ToDouble(ViewData["Price"]) * (roomBooking.BookedEndDate - roomBooking.BookedStartDate).TotalDays);
								double @minimumPrice = Convert.ToDouble(ViewData["Price"]);
								double finalPrice = Math.Max(calculatedPrice, minimumPrice);
							}
							$@finalPrice
						</td>
						<td>
							<a asp-controller="RoomBookings" class="bttn button-one w-125" asp-action="Edit" asp-route-id="@roomBooking.Id">Edit Booking</a>
							@* <a asp-controller="RoomBookings" asp-action="Delete" asp-route-id="@project.ProjectId" class="btn btn-danger">Cancel Booking</a> *@
						</td>

					</tr>
				</tbody>
			}
		</table>
		<p>
			<a class="btn btn-outline-primary" asp-action="Create" asp-route-RoomId="@ViewData["RoomId"]">Create a Room Booking!</a>
		</p>
	</body>
</html>
