@model IEnumerable<CarBooking>

@{
    ViewData["Title"] = "Car Bookings";
}
<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    </head>
    <body>
		<table class="table">
			<thead>
				<tr>
					<th>Start Date</th>
					<th>Return Date</th>
					<th>Car Brand</th>
					<th>Car Model</th>
					<th>Car License Plate</th>
					<th>Rented From</th>
					<th>Total Price Paid</th>
					<th>Actions</th>
				</tr>
			</thead>

			@foreach (var carBooking in Model)
			{
				<tbody>
					<tr>
						<td>@carBooking.BookedStartDate</td>
						<td>@carBooking.BookedEndDate</td>
						<td>@ViewData["Brand"]</td>
						<td>@ViewData["Model"]</td>
						<td>@ViewData["PlateNumber"]</td>
						<td>@ViewData["RentalCompany"]</td>
						<!--Calculating the total price -->
						<td>@{
							double calculatedPrice = (Convert.ToDouble(ViewData["Price"]) * (carBooking.BookedEndDate - carBooking.BookedStartDate).TotalDays);
							double @minimumPrice = Convert.ToDouble(ViewData["Price"]);
							double finalPrice = Math.Max(calculatedPrice, minimumPrice);}
							$@finalPrice
							</td>
						<td>
							<a asp-controller="CarBookings" class="btn btn-secondary" asp-route-id="@carBooking.Id" asp-action="Edit">Edit Booking</a>
							<a asp-controller="CarBookings" class="btn btn-danger" asp-route-id="@carBooking.Id" asp-action="Delete">Cancel Booking</a> 
						</td>

					</tr>
				</tbody>
			}
		</table>
        <p>
            <a class="btn btn-outline-primary"  asp-action="Create" asp-route-CarId="@ViewData["CarId"]">Create a Car Booking!</a>
        </p>
    </body>
</html>
