@model List<Flight>

@{
    ViewData["Title"] = "Flight";
    bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
    string searchStringFrom = ViewData["SearchStringFrom"] as string;
    string searchStringTo = ViewData["SearchStringTo"] as string;
    DateOnly? searchStringDepartureDate = ViewData["searchStringDepartureDate"] as DateOnly?;
    int searchPassengerNum = ViewData["searchPassengerNum"] as int? ?? 1;
}

<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    </head>
    <body>
        <h2>Flights</h2>
        <div class="table-wrap">

        @if (Model.Any())
        {
                <table class="table search-table">
                    <thead>
                        <tr class="text-center">
                            <td>Flight Number</td>
                            <td>Airline</td>
                            <td>From</td>
                            <td>To</td>
                            <td>Price</td>
                            <td>Seats</td>
                            <td>Details</td>
                            <td>Book</td>
                            <td>Past Bookings</td>
                            @if (User.IsInRole("Admin"))
                            {
                                <td>Delete Posting</td>
                            }
                        </tr>
                </thead>

                <tbody>

                    @foreach (var flight in Model)
                    {
                        <tr>
                            <td>@flight.FlightNumber</td>
                            <td>@flight.Airline</td>
                            <td>@flight.From</td>
                            <td>@flight.To</td>
                            <td>@flight.Price</td>
                            <td>@flight.Seats</td>
                                <td><a asp-action="Details" class="bttn button-one w-125" asp-route-flightId="@flight.FlightId">Details</a></td>
                                <td><a asp-controller="FlightBookings" class="bttn button-two w-125" asp-action="Create" asp-route-flightId="@flight.FlightId">Book!</a></td>
                                <td><a asp-controller="FlightBookings" class="bttn button-three w-125" asp-action="Search" asp-route-flightId="@flight.FlightId">View Bookings</a></td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td><a asp-action="Delete" class="bttn button-danger" asp-route-flightId="@flight.FlightId">Delete</a></td>
                                }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else{
            if (searchPerformed)
            {
                <p>No flights available with the given requirments.</p>
            }
            else
            {
            <p>No Flight data</p>
            }
        }
        </div>

        <p>
            <a class="bttn button-one mt-3 w-250" asp-area="" asp-action="Create">Add Flight</a>
        </p>
    </body>
</html>
