@model IEnumerable<RoomBooking>

@{
	ViewData["Title"] = "Room Bookings";
}
<DOCTYPE html>
	<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

	</head>
	<body>
		<h2>Rooms</h2>
		<div class="table-wrap">
			@if (Model.Any())
			{
				<table class="table search-table">
					<thead>
						<tr class="text-center">
							<th>Room Description</th>
							<th>Start Date</th>
							<th>Return Date</th>
							<th>Price</th>
						</tr>
					</thead>

					@foreach (var roomBooking in Model)
					{
						<tbody>
							<tr class="text-center">
								<td>@ViewData["Description"]</td>
								<td>@roomBooking.BookedStartDate</td>
								<td>@roomBooking.BookedEndDate</td>
								<td>@ViewData["Price"]</td>
							</tr>
						</tbody>
					}
				</table>
			}
			else{
				<p>There are no rooms for added for this hotel.</p>
			}
		</div>
		<p>
			<a class="bttn button-one" asp-action="Create" asp-route-RoomId="@ViewData["RoomId"]">Create a Room Booking!</a>
		</p>
	</body>
</html>
