@model IEnumerable<FlightBooking>

@{
    ViewData["Title"] = "Index";
}


<div class="table-wrap">
    <table class="search-table w-100">
    <thead>
            <tr class="text-center">
            <th>
                Flight
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    PassengerName
                </th>
                <th>
                    PassportNumber
                </th>
                <th>
                    Rented by
                </th>
                <th>
                    Renter Email
                </th>
                <th>
                    View Renter
                </th>
            }   
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.Airline)
                </td>
                @if (User.IsInRole("Admind"))
                {
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassportNumber)
                    </td>
                }
                <td>
                   @item.User.FirstName  @item.User.LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td><a class="bttn button-one" asp-area="NorthPole" asp-controller="User" asp-action="Index" asp-route-userId="@item.User.Id">View User</a></td>
                
            </tr>
        }
    </tbody>
</table>
</div>

<p>
    <a class="bttn button-one" asp-action="Create" asp-route-flightId="@ViewData["FlightId"]">Create a Flight Booking!</a>
</p>