@model List<Car>

@{
    ViewData["Title"] = "Cars"; 
}

<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    </head>
    <body>
        <h2>Cars</h2>
        <div class="table-wrap">
        @if (Model.Any())
        {
            <table class="table search-table">
                <thead>
                    <tr class="text-center">
                        <td>Model</td>
                        <td>Brand</td>
                        <td>Description</td>
                        <td>Price/Day</td>
                        <td>Details</td>
                        <td>Add Booking</td>
                        <td>View Bookings</td>

                    </tr>
                </thead>

                <tbody>

                    @foreach (var car in Model)
                    {
                        <tr class="text-center">
                            <td>@car.Model</td>
                            <td>@car.Brand</td>
                            <td>@car.Description</td>
                            <td>$@car.Price</td>
                            <td><a asp-controller="Cars" class="bttn button-one w-125" asp-action="Details" asp-route-carId="@car.CarId">View Details</a></td>
                            <td>
                                <a asp-controller="CarBookings" class="bttn button-two w-125 " asp-action="Create" asp-route-carId="@car.CarId">Book Car!</a></td>
                                <td><a asp-controller="CarBookings" asp-action="Search" asp-route-CarId="@car.CarId" class="bttn button-three w-125 ">View Bookings</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        else
        {
                <p>There are currently cars under your search conditions, click on the button below to add the first!</p>
        }
        </div>
        <p>
            <a class="bttn button-one" asp-area="" asp-action="Create">List another car!</a>
        </p>
    </body>
</html>
